# Node.js modules
node_modules/

# Log files
*.log

# Environment variable files
.env

# Build output
dist/
build/

# Mac OS specific files
.DS_Store

# Windows specific files
Thumbs.db

# IDE files (e.g., VSCode, WebStorm)
.vscode/
.idea/

# npm package lock file (optional, only if you want to ignore it)
package-lock.json
